body {
    background: #56294a;
}

img {
    border-radius: 10px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #e79a9a;
    display: grid;
    place-content: center;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.menu-item img {
    margin-right: 10px;
}

.menu-item a {
    text-decoration: none;
    color: #56294a;
    margin-top: 5px;
}

.header__menuBtn {
    position: relative;
    z-index: 10;
    background-color: #ff7979;
    border-color: #000000;
    color: #000000;
}

.noscroll,
.noscroll body {
    overflow: hidden;
}

li {
    list-style-type: none;
}

.link-text {
    color: #56294a;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.ChienChatColor {
    background-color: #de8b8b;
    border-color: #000000;
    color: #000000;
}

.Nav1-4Color {
    background-color: #e4b2fe;
    border-color: #000000;
    color: #000000;
}

.intern-link {
    background-color: #e4b2fe;
    border-color: #000000;
    color: #000000;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #fbdcdc;
}

h3 {
    color: #fbdcdc;
}

p {
    color: #ffffff;
}

button {
    background-color: #ff7979;
    border-color: #000000;
    color: #000000;

}

dd {
    color: #fbdcdc;
}

aside {
    position: absolute;
    top: 7px;
    right: 7px;
}

.media--fullwidth {
    width: 75%;
    height: auto;
}

a[href="https://www.enviedeplus.com/famille/animaux-de-compagnie/superstition-chat-noir"],
a[href="https://fr.wikipedia.org/wiki/Chien"],
a[href="https://fr.wikipedia.org/wiki/Chat"],
a[href="https://www.woopets.fr/chien/race/golden-retriever/"],
a[href="https://www.zooplus.fr/magazine/chien/races-de-chien"],
a[href="https: //jardinage.lemonde.fr/dossiers-cat3-12-races-chats.html"] {
    color: #b56eb0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}