body {
    background: #56294a;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #e79a9a;
    display: grid;
    place-content: center;
}

.header__menuBtn {
    position: relative;
    z-index: 10;
}

.noscroll,
.noscroll body {
    overflow: hidden;
}

.link-text {
    color: #56294a;
    ;
}


h1 {
    color: #ffffff
}

h2 {
    color: #fbdcdc
}

h3 {
    color: #fbdcdc
}

p {
    color: #ffffff
}

button {
    background-color: #ff7979;
    border-color: #000000;
    color: #ffffff"

}

dd {
    color: #fbdcdc
}

aside {
    position: absolute;
    top: 7px;
    right: 7px;
}

a[href="https://www.enviedeplus.com/famille/animaux-de-compagnie/superstition-chat-noir"],
a[href="https: //fr.wikipedia.org/wiki/Chien"],
a[href="https: //fr.wikipedia.org/wiki/Chat"] {

    color: #b56eb0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}